# Configuración de Base de Datos
POSTGRES_USER=usuario_local
POSTGRES_PASSWORD=tu_contraseña_local
POSTGRES_DB=costream_db

# Prisma
DATABASE_URL="postgresql://usuario_local:tu_contraseña_local@localhost:5432/costream_db"

# Secretos de la API
JWT_SECRET="tu_secreto_local_para_jwt"

# Credenciales de LiveKit (Solicitar al Host de Infraestructura)
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
LIVEKIT_URL="wss://costream-xxx.livekit.cloud"

# Configuración de Cloudinary para subida de archivos
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""